body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #fae0da;

}
h1,h2,h3,h4,h5 {
  font-family: "Parisienne", sans-serif;
  color: #ee9883;
}

p {
  font-family: "Ysabeau", sans-serif;
  color: #8b715e;
}

#mariage {
  background-image: url("images/mariage-bg.png");
}

#mariage > .head {
  text-transform: uppercase;
  padding-top: 15%;
  padding-left: 5%;
}

#mariage > .title {
  max-width: 45%;
  font-size: 3rem;
  padding-left: 5%;
}

#mariage > .civil {
  max-width: 45%;
  padding-left: 5%;
}

#mariage > .reception {
  max-width: 45%;
  padding-left: 5%;
}

#bapteme {
  background-image: url("images/bapteme-bg.png");
}

#bapteme > .head {
  text-transform: uppercase;
  padding-top: 10%;
}

#bapteme > .title {
  max-width: 45%;
  padding-top: 50%;
  font-size: 3rem;
}

.card {
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 45rem;
  width: 45rem;
  min-width: 45rem;

  border-width: thin;
  border-radius: .25rem;
  border-style: groove;
  border-color: #8b715e;
  box-shadow: 5px 5px 10px #f5c1b5;
  margin: 2.5rem;
}
